<a href="https://colab.research.google.com/github/iamjatinjain/ML-Jupyter-Notebook/blob/master/Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Scikit - Learn (sklearn)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Scikit Workflow

In [5]:
heart_disease = pd.read_csv("/content/drive/My Drive/ML/heart-disease.csv")
heart_disease

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [6]:
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [7]:
heart_disease.tail()

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [8]:
# Create x (features matrix)
X = heart_disease.drop("target", axis =1)

#Create y (labels)
Y = heart_disease["target"]

In [9]:
# Choose the right algorithm and hyper parameters
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100)
# Keep the default hyper parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
#fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [11]:
clf.fit(X_train, Y_train);

In [12]:
X_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
7     44    1   1       120   263  ...      0      0.0      2   0     3
274   47    1   0       110   275  ...      1      1.0      1   1     2
122   41    0   2       112   268  ...      1      0.0      2   0     2
260   66    0   0       178   228  ...      1      1.0      1   2     3
93    54    0   1       132   288  ...      1      0.0      2   1     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
73    51    1   0       140   261  ...      1      0.0      2   0     2
10    54    1   0       140   239  ...      0      1.2      2   0     2
65    35    0   0       138   183  ...      0      1.4      2   0     2
81    45    1   1       128   308  ...      0      0.0      2   0     2
44    39    1   2       140   321  ...      0      0.0      2   0     2

[242 rows x 13 columns]

In [13]:
X_test

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
271   61    1   3       134   234  ...      0      2.6      1   2     2
110   64    0   0       180   325  ...      1      0.0      2   0     2
148   44    1   2       120   226  ...      0      0.0      2   0     2
184   50    1   0       150   243  ...      0      2.6      1   0     3
135   49    0   0       130   269  ...      0      0.0      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
86    68    1   2       118   277  ...      0      1.0      2   1     3
170   56    1   2       130   256  ...      1      0.6      1   1     1
11    48    0   2       130   275  ...      0      0.2      2   0     2
17    66    0   3       150   226  ...      0      2.6      0   0     2
222   65    1   3       138   282  ...      0      1.4      1   1     2

[61 rows x 13 columns]

In [14]:
#Make a prediction

y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1])

In [15]:
Y_test

271    0
110    1
148    1
184    0
135    1
      ..
86     1
170    0
11     1
17     1
222    0
Name: target, Length: 61, dtype: int64

In [16]:
#Evaluate the model on the training data and the test data

clf.score(X_train, Y_train)

1.0

In [17]:
clf.score(X_test, Y_test)

0.7704918032786885

In [18]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.68      0.74      0.71        23
           1       0.83      0.79      0.81        38

    accuracy                           0.77        61
   macro avg       0.76      0.76      0.76        61
weighted avg       0.78      0.77      0.77        61

In [19]:
confusion_matrix(Y_test, y_preds)

array([[17,  6],
       [ 8, 30]])

In [20]:
accuracy_score(Y_test, y_preds)

0.7704918032786885

In [24]:
#Improve a model
# Try different amount of estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f" Trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print("")

 Trying model with 10 estimators
Model accuracy on test set: 75.41%

 Trying model with 20 estimators
Model accuracy on test set: 85.25%

 Trying model with 30 estimators
Model accuracy on test set: 81.97%

 Trying model with 40 estimators
Model accuracy on test set: 80.33%

 Trying model with 50 estimators
Model accuracy on test set: 80.33%

 Trying model with 60 estimators
Model accuracy on test set: 75.41%

 Trying model with 70 estimators
Model accuracy on test set: 81.97%

 Trying model with 80 estimators
Model accuracy on test set: 80.33%

 Trying model with 90 estimators
Model accuracy on test set: 80.33%

In [25]:
#Save the model and load it

import pickle
pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [26]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.8032786885245902